<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>Ресторан "John's treat"</title>
</head>
<body>
<table border="2">
    <tr>
        <th><p style="margin-left: 250px;">
            <h3><a href="main">Главная</a></h3></th>
        <th><p style="margin-left: 400px;">
            <h3><a href="menu">Меню</a></h3></th>
        <th><p style="margin-left: 300px;">
            <h3><a href="orders">Заказы</a></h3></th>
        <th><p style="margin-left: 300px;">
            <h3><a href="basket">Корзина</a></h3></th>
        <th><p style="margin-left: 300px;">
            <h3><a href="index">Выйти</a></h3></th>
    </tr>
</table>

<b><p align="center" style="color:#9932cc; font-size:40px">Ресторан "John's treat"</p></b>
<hr>
<h2 align="center"> Ваш заказ не был зарегистрирован. Повторите попытку или обратитесь к администратору.</h2>

</body>
</html>