<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Ресторан "John's treat"</title>
</head>
<body>
<table border="2">
    <tr>
        <th><p style="margin-left: 150px;">
            <h3><a href="admin_panel">Главная</a></h3></th>
        <th><p style="margin-left: 400px;">
            <h3><a href="view_orders">База данных заказов</a></h3></th>
        <th><p style="margin-left: 300px;">
            <h3><a href="view_users">База данных пользователей</a></h3></th>
        <th><p style="margin-left: 300px;">
            <h3><a href="order_to_confirm">Подтверждение заказов</a></h3></th>
        <th><p style="margin-left: 350px;">
            <h3><a href="index">Выйти</a></h3></th>
    </tr>
</table>

<b><p align="center" style="color:#9932cc; font-size:40px">Ресторан "John's treat"</p></b>
<hr>

<table border="1" align="center" width="600" bgcolor="#f5f5dc">
    <tr>
        <th>ID</th>
        <th><p style="margin-center: 250px;">Статус</th>
        <th><p style="margin-center: 250px;">Сумма, руб.</th>
    </tr>

    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.status}"></td>
        <td th:text="${order.amount}"></td>
        <td>
            <form th:action="@{/confirm_order}" method="get">
                <input type="hidden" th:name="orderId" th:value="${order.id}"/>
                <input type="submit" value="Подтвердить"/>
            </form>
        </td>
    </tr>

</table>

</body>
</html>